@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime
@(items: Seq[HostStatus])

@asd(dt: DateTime) = @{
  val dtf = DateTimeFormat.forStyle("MS")
  dtf.print(dt)
}

@main("Usage: Control Panel") {
  <p>This is the collector status (sort of).
    You are probably more interested in
    <a href="@routes.Application.stats">Stats</a>.
  </p>

  <p>Registered targets:</p>
  <ul>

    @for(i <- items) {
      <li>
        <a href="@routes.Application.reload(i.key)">
          R
        </a>
        [@i.hosts.mkString(",")]: @i.pattern
        Last Update: @{
          i.lastDate match {
            case Some(s) => asd(s)
            case None => ""
          }
        };
        Next Update: @{
          i.nextDate match {
            case Some(s) => asd(s)
            case None => ""
          }
        }
      </li>
    }
  </ul>
}
