@import code.collection.ByKey
@(byName: Seq[ByKey], byKey: Seq[PlaceStats])

@main("Disk Usage") {
  <p>Stats:</p>

  <div class="row">
    <div class="col-sm-6">
      Users:
      <ul>
        @for(n <- byName) {
          <li>
            <a href="@routes.Application.userStats(n.key)">@n.key</a>
            @code.Sizes.readable(n.total)
          </li>
        }
      </ul>
    </div>
    <div class="col-sm-6">
      Hosts: Actual Used (FS Used/FS Free/FS Total)
      <ul>
      @for(n <- byKey) {
        <li>
          <a href="@routes.Application.hostStats(n.name)">@n.name</a>
          @code.Sizes.readable(n.used)
          (@{code.Sizes.readable(n.usedFs)}/@{code.Sizes.readable(n.total - n.usedFs)}/@{code.Sizes.readable(n.total)})
        </li>
      }
      </ul>
    </div>
  </div>
}
